* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: white;
  min-height: 100vh;
}

@import "variables";

@import "flex-grid";
@import "layouts";
@import "nav";
@import "header";


.content-body {
  background: linear-gradient(to bottom, lighten($bg-color, 4%), darken($bg-color, 6%));
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 2;
  // align-self: stretch;
  width: 100%;
}